@using Amba.ImagePowerTools.Fields
@using Orchard.ContentManagement
@{
    var logoField = (ImageMultiPickerField)Model.ContentItem.Project.Logo;
    var logoImage = "";
    if (logoField.Images.Any())
    {
        logoImage = logoField.Images.First().FilePath;
    }  
}

<div class="project-summary-box">
    <div class="project-head">
        <div class="logo-left">
            @Html.ResizedImage(logoImage, width:100, htmlAttributes: new {@class = "logo-image"}) 
        </div>
            
        <div class="text_right">
            <h3>
                <a href="@Url.ItemDisplayUrl((IContent)Model.ContentItem)">
                    @Model.ContentItem.TitlePart.Title
                </a>
            </h3>
            <div>
                @Html.Raw(Model.ContentItem.Project.ShortDescription.HTML)
            </div>
        </div>  
    </div>
</div>