@using Orchard.ContentManagement
@using Orchard.ContentPicker.Fields
@using Orchard.Utility.Extensions;

@{
    var field = (ContentPickerField) Model.ContentField;
    var contentItems = field.ContentItems;
    var contentManager = WorkContext.Resolve<IContentManager>();
}

@if (contentItems.Any())
{
    <h2 class="other-projects">@T("Другие проекты")</h2>
    foreach (var contentItem in contentItems)
    {
        @Display(contentManager.BuildDisplay(contentItem, "Summary"))
    }
}