@{
    string siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);
    Func<dynamic, dynamic> Zone = x => Display(x);
}
<nav class="top-bar show-for-medium-down mobile-top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1 class="mobile-site-logo">
                <a href="/">@(siteName)</a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            <li class="has-form">
                <form action="/Search" method="GET" id="mobile-search-form">
                    <div class="row collapse">
                        <div class="large-8 small-9 columns">
                            <input type="text" name="q" placeholder="Search" class="search-query-input">
                        </div>
                        <div class="large-4 small-3 columns">
                            <input type="submit" class="alert button expand" value="Search" />
                        </div>
                    </div>
                </form>
            </li>
        </ul>

        <ul id="show-for-medium-down">
        </ul>
    </section>
</nav>

<div class="row show-for-large-up">
    <header class="large-12 column">
        <div class="site-header">
            <div class="site-title">
                <a href="/">Musuk's pages</a>
            </div>
        </div>
    </header>
</div>

<div class="row content-row">

    <div class="column large-2 left-menu show-for-large-up">
        <form action="/Search" method="GET" id="search-form">
            <input type="text" name="q" class="search-query-input" /><i class="fa fa-search" id="input-search-button"></i>
        </form> 
        @if (Model.Navigation != null)
        {
            @Zone(Model.Navigation)
        }
    </div>

    <div class="column large-10 medium-12 main-content">
        @Display(Model.Content)
    </div>
</div>
            
        
