@using Orchard.ContentManagement
@Display(Model.Metadata.ChildContent)
<div class="read-more">
    @{
        var body = (string)Model.ContentItem.MusukBlogPost.Body.HTML;
    }
    @if (!string.IsNullOrWhiteSpace(body))
    {
        @Html.ItemDisplayLink(@T("Читать далее...").ToString(), (IContent)Model.ContentItem)
    }
</div>