@using Orchard.ContentManagement
@model Orchard.Search.ViewModels.SearchViewModel
@{
    Style.Require("Search");

    IEnumerable<object> searchResults = Model.ContentItems;
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("search-results");
}
<h2>@Html.TitleForPage(T("Результаты поиска").Text)</h2>

@if (searchResults != null && searchResults.Any())
{
    <ul>
        @foreach (dynamic searchResult in searchResults)
        {
            var contentItem = searchResult.ContentItem as IContent;
            if (contentItem == null)
            {
                continue;
            }
            <li>@Html.ItemDisplayLink(contentItem)</li>
        }
    </ul>
}
else
{
    <p>
        @T("Ничего не найдено")
    </p>
}